# Default ignored files
/shelf/
/workspace.xml
/input_data.json
/input_data(BU).json
/output
/outputs
/tmp
/.idea
/.codes
.idea/
__pycache__
references/*.pdf
references/*.PDF
/references/Mahachi/
/references/DWG_Reference/
